body{
	background-color: #102747;
	font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 1200px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #BACDEB;
	color: white;
}

#boton{
	width: 150px;
	height: 50px;
	font-size: 20px;
	margin-top: 7px;
}