#imagen{
    margin-left: 900px;
    margin-top: -50px;
}
h1{
    color: white;
}
body{
    background-color: rgb(0, 21, 35);
}
#contgen{
    background-color: rgb(0, 129, 211);
    margin-left: 100px;
    padding-right: -10px;

}